/*Обнуление*/
*, 
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
	font-size:inherit;
	font-weight:inherit;
}
input, button {
	border: none;
	font-family:inherit;
	font-size:inherit;
}
html, body {
	height: 100%;
	line-height: 1;
	background-color: rgb(230, 117, 160);
	background-color: rgb(240, 107, 67);
	background-color: bisque;
	font-family: 'Caveat Brush', cursive;
	color: azure;
	font-size: 20px;
}

.wrapper{
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

/* ---------Header----------- */


/* ---------Main----------- */
.main {
	flex: 1 1 auto;
}

canvas {
	/* background: #5f8fe7; */
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 10px;

}

/* ---------Footer----------- */